<h2 class="text-3xl font-semibold text-center mb-6 pt-12 text-orange-600">Edit Profile</h2>

<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg border border-gray-200">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 mb-4">

      <div class="field">
        <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :name, autocomplete: "name", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

      <div class="field">
        <%= f.label :phone_number, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :phone_number, minlength: '10', maxlength: '10', class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

      <div class="field">
        <%= f.label :address, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :address, class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

    </div>

    <div class="field">
      <%= f.label :current_password, class: "block text-sm font-medium text-gray-700"  %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
    </div>

    <div class="field">
      <%= f.label :profile, class: "block text-sm font-medium text-gray-700" %>
      <div class="mt-1 block w-full">
        <%= f.file_field :profile, class: "block w-full text-sm text-gray-500 py-2 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 file:border-none" %>
      </div>
    </div>

    <div class="actions text-center mt-6">
      <%= f.submit "Update Profile", class: "w-full bg-orange-600 text-white py-2 px-4 rounded-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500" %>
    </div><br>
    
  <% end %>
</div>
