<h1 class="text-3xl font-bold text-center text-gray-800 mb-8">Your Orders</h1>

<% if @orders.any? %>
  <div class="space-y-6">
    <% @orders.each do |order| %>
      <div class="bg-gray-100 shadow-md p-4 max-w-md mx-auto">
        <div class="flex justify-between items-center border-b pb-4 mb-4">
          <div>
            <h2 class="text-xl font-semibold text-gray-800">Order #<%= order.id %></h2>
            <p class="text-sm text-gray-600">Placed on: <%= order.created_at.strftime("%B %d, %Y") %></p>
            <p class="text-sm text-gray-600">Time : <%= order.order_time.strftime('%I:%M:%S %p') %></p>
          </div>
          <p class="text-md font-semibold text-green-600">Status: <%= order.status.capitalize %></p>
        </div>

        <div class="mb-4">
          <p class="text-lg font-semibold text-gray-800">
            Total: <%= number_to_currency(order.total_price, unit: "₹", separator: ".", delimiter: ",", format: "%u %n") %>
          </p>
        </div>

        <h3 class="text-lg font-semibold text-gray-700 mb-3">Products in this Order:</h3>
        <ul class="space-y-3">
          <% order.products.each do |product| %>
            <li class="flex justify-between items-center bg-gray-200 p-3 shadow-sm">
              <div>
                <strong class="text-md text-gray-800"><%= product.name %></strong><br>
                <span class="text-sm text-gray-600">
                  Price: <%= number_to_currency(product.price, unit: "₹", separator: ".", delimiter: ",", format: "%u %n") %>
                </span>
              </div>
              <span class="font-semibold text-gray-800">Quantity: <%= order.order_products.find_by(product_id: product.id).quantity %></span>
            </li>
          <% end %>
        </ul>
      </div>
      <hr class="my-4">
    <% end %>
  </div>
<% else %>
  <p class="text-xl text-gray-600 text-center">You have no orders yet. Start shopping now!</p>
<% end %>
