<h2 class="text-3xl font-semibold text-center mb-6 pt-12 text-orange-600">Log in</h2>

<div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg border border-gray-200">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="space-y-6">
      
      <div class="field">
        <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-orange-500 focus:border-orange-500" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 text-orange-600 focus:ring-orange-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-700" %>
        </div>
      <% end %>

      <div class="actions text-center">
        <%= f.submit "Log in", class: "w-full bg-orange-600 text-white py-2 px-4 rounded-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500" %>
      </div>
      
    </div>
  <% end %>

  <div class="text-center mt-6">
    <%= link_to 'Forgot password?', new_user_password_path, class: "text-sm text-orange-600 hover:text-orange-700" %>
  </div>

  <%= render "devise/shared/links" %>
</div>
