<nav class="bg-white shadow-lg">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <%= link_to 'Home', restro_owner_path, class: "rounded-md bg-white px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
            <%= link_to 'Search', '#', class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
            <% if user_signed_in? %>
              <%= link_to 'Your Restaurants', restro_owner_path, class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
              <%= link_to 'Add New Restaurants', new_restro_path, class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
              <%= button_to 'Sign out', destroy_user_session_path, method: :delete, class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
            <% else %>
              <%= link_to 'Sign in', new_user_session_path, class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
              <%= link_to 'Sign up', new_user_registration_path, class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
            <% end %>
          </div>
        </div>
      </div>
        <div class="flex items-center ml-auto">
          <% if user_signed_in? %>
            <% if current_user.profile.attached? %>
              <%= image_tag url_for(current_user.profile), class: "rounded-full w-12 h-12 object-cover" %>
            <% else %>
              <%= image_tag "default_user_icon.png", class: "rounded-full w-12 h-12 object-cover" %>
            <% end %>
            <%= link_to current_user.name, '#', class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
          <% end %>
        </div>
    </div>
  </div>
</nav>
